<div class="wrapper">
  <app-cytoscape-graph
    #graph
    [graphData]="graphData"
    [zoom]="zoom"
    [layoutOptions]="layoutOptions"
    (state)="handleGraphState($event)"
    (selected)="handleGraphSelected($event)"
    (doubleTap)="handleDoubleTap($event)"
    (updateSummary)="handleUpdateSummary($event)"
  ></app-cytoscape-graph>
  <app-sliding-sidebar #sidebar></app-sliding-sidebar>
  <app-graph-controls
    [zoom]="state.zoom"
    (zoomIn)="handleZoomIn()"
    (zoomOut)="handleZoomOut()"
    (maximize)="handleMaximize()"
  ></app-graph-controls>
</div>
