$sidebar__width: 25rem;
$toggle__height: 30px;
$border: 24px;

:host {
  width: $sidebar__width;
  position: absolute;
  top: 0;
  right: -$border;
  height: calc(100% + 2 * #{$border});
  margin: -$border auto 0 auto;
}

.sidebar {
  height: 100%;
  background-color: hsl(198, 0%, 95%);
  border: 2px solid hsl(198, 0%, 80%);
  transition: transform 500ms ease-in-out;
  padding: 12px;
  margin: 4px 0;

  .toggle {
    height: $toggle__height;
    width: 80px;
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    top: 8em;
    left: -$toggle__height;
    z-index: 1;
  }

  &.is-closed {
    transform: translateX($sidebar__width);
  }

  &-header {
    h3 {
      margin-top: 0;
    }
    h4 {
      margin-top: 4px;
    }
  }
}
