<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="#" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">RV Playground</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="wrapper">
        <app-cytoscape-graph
          #graph
          [nodes]="nodes"
          [edges]="edges"
          [layoutOptions]="layoutOptions"
          [style]="style"
          [nodeHtmlParams]="nodeHtmlParams"
        ></app-cytoscape-graph>
        <app-sliding-sidebar></app-sliding-sidebar>
        <app-graph-controls [zoom]="83"></app-graph-controls>
      </div>
    </div>
  </div>
</div>
